openapi: 3.0.3
info:
  title: API for Database Management
  description: |-
    This is an API for managing records in various database tables. You can interact with the tables by specifying the table name and the field values in the query parameters. This API follows the OpenAPI 3.0 specification.

    Some useful links:
    - [Swagger Documentation](https://swagger.io)
    - [API Repository](https://github.com/swagger-api/swagger-petstore)
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://www.tfg-dependencia.work.gd/backend/user.php
tags:
  - name: Tablas
    description: Gestión de todas las tablas de nuestra Base de Datos
    externalDocs:
      description: Find out more
      url: http://swagger.io
paths:
  /:
    put:
      tags:
        - Tablas
      summary: Editar un registro existente
      description: Actualiza un registro en la Base de Datos especificando la tabla y el campo a actualizar.
      operationId: updateRecord
      parameters:
        - name: table
          in: query
          description: Nombre de la tabla
          required: true
          schema:
            type: string
      requestBody:
        description: Datos del registro a actualizar
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  additionalProperties: true
        required: true
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '500':
          description: Error interno del servidor
    post:
      tags:
        - Tablas
      summary: Añadir un nuevo registro
      description: Añade un nuevo registro a una tabla especificada en la Base de Datos.
      operationId: addRecord
      parameters:
        - name: table
          in: query
          description: Nombre de la tabla
          required: true
          schema:
            type: string
      requestBody:
        description: Datos del nuevo registro
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  additionalProperties: true
        required: true
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Entrada inválida
        '422':
          description: Excepción de validación
  /?table={nombre_tabla}:
    get:
      tags:
        - Tablas
      summary: Buscar una tabla entera
      description: Devuelve una tabla entera
      operationId: getRecordByField
      parameters:
        - name: nombre_tabla
          in: path
          description: Nombre de la tabla
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Valor del campo inválido
        '404':
          description: Registro no encontrado
    delete:
      tags:
        - Tablas
      summary: Eliminar un registro
      description: Elimina un registro de una tabla especificada basado en el valor de un campo.
      operationId: deleteRecord
      parameters:
        - name: table
          in: path
          description: Nombre de la tabla
          required: true
          schema:
            type: string
        - name: campo
          in: path
          description: Nombre del campo
          required: true
          schema:
            type: string
        - name: valor
          in: path
          description: Valor del campo
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operación exitosa
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Valor del campo inválido

